.navbar{
    &-container{
        display: flex;
        justify-content: space-between;

        .navbar-menu{
            display: flex;
             ul{
                 display: flex;
                 align-items: center;
                 gap: 2.1rem;
                 margin-right: 4.4rem;

                 li{
                     padding: 10px;
                     
                     .navbar-link{
                         padding: 1rem;
                         font-size: 1.5rem;
                         line-height: 2.7rem;
                         text-align: center;
                         color: #fff;
                     }
                 }
             }
        }
    }
}